.content{

    /* margin-left: 10px; */
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding: 5px;
    box-shadow: 5px 5px 15px 5px rgb(0 0 0 / 10%);

}
.all{
    width: 500px;
    margin-left: 10px;
}